* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bgcolor :#ffffff;
    --boxbgcolor: #2b2a2a;
    --inputbgcolor: #EDEDED;
    --textcolorwhite: #EDEDED;
    --textcolorgreen: #DA0037;
    --textcolorgray: #D5D4D8;
}
/* #DA0037 */

body {
    background-color: var(--bgcolor);
    font-family: "Karla", sans-serif;
}


.wrapper {
    width: 700px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: var(--boxbgcolor);
    padding-left: 5%;
    padding-top: 5%;

    
}

.content {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.content h1 {
    color: var(--textcolorwhite);
    font-size: 40px;
    font-weight: 800;
}

.content h1 span {
    color: var(--textcolorgreen);
}

.content p {
    color: var(--textcolorgray);
    margin-top: 10px;
    font-family: "Inter", sans-serif;
}

.content button {
    background-color: var(--textcolorgreen);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    width: 200px;
    cursor: pointer;
}

hr {
    width: 470px;
    margin-top: 40px;
    border-color: var(--boxbgcolor)
}

.inputs-boxes {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 470px;
}

.inputs-boxes input {
    height: 36px;
    background-color: var(--inputbgcolor);
    border: none;
    border-radius: 5px;
    color: black;
}

.inputs-boxes button {
    padding: 10px;
    background: var(--textcolorgreen);
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.inputs-boxes button:active {
    background: var(--bgcolor);
    color: var(--textcolorgreen);
}


.button-length {
    display: flex;
    align-items: center;
}

.button-length form {
    margin-left: 2rem;
    margin-top: 50px;
    display: flex;
}

.button-length form p {
    margin-right: 1rem;
}